
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#252323;
    width:100%;
}

#APPLICATION
{
	background-color:#f54587;
	width:691px;
	height:540px;
}
input
{
	position:inherit;
	left:45%;
	top:50%;
	height:4%;
	width:19%;
	z-index:9;
	color:"#222222";
}
#password_input
{
	position:inherit;
	left:45%;
	top:56%;
	height:4%;
	width:19%;
	z-index:9;
	color:"#222222";
}

textarea,
textarea:hover,
textarea:active,
textarea:focus {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  resize: none;
  overflow: hidden;

  outline:0px !important;
  -webkit-appearance:none;
  -webkit-box-shadow:none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  -webkit-border-radius: none;
}

